@model DiscussionForumCore.Models.Answer

@{
    ViewData["Title"] = "Create";

}




<h4 style="justify-content:center; display:flex;align-items:center">Answer</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <textarea asp-for="answer" class="form-control" rows="10"></textarea>
                <span asp-validation-for="answer" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="questionId" class="control-label"></label>
                <input asp-for="questionId" class="form-control" />
                <span asp-validation-for="questionId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="appUserId" class="control-label"></label>
                <input asp-for="appUserId" class="form-control" />
                <span asp-validation-for="appUserId" class="text-danger"></span>
            </div>


            <div class="form-group" hidden>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ProfilePic" class="control-label"></label>
                <input asp-for="ProfilePic" class="form-control" />
                <span asp-validation-for="ProfilePic" class="text-danger"></span>
            </div>


            <div class="form-group" style="margin-top: 1rem; justify-content: center; display: flex; align-items: center">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
