@model DiscussionForumCore.ViewModels.QuestionViewModel

@{
    ViewData["Title"] = "Create";
}



<h4 style="justify-content:center; display:flex;align-items:center">Question</h4>
<hr />
<div class="row  justify-content-center">
    <div class="col-md-6">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label asp-for="question" class="control-label"></label>
                    <input asp-for="question" class="form-control" />
                    <span asp-validation-for="question" class="text-danger"></span>
                </div>
                </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label asp-for="category" class="control-label"></label>
                    <input asp-for="category" class="form-control" />
                    <span asp-validation-for="category" class="text-danger"></span>
                </div>
            </div>
            <div class="custom-file">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 1rem; justify-content: center; display: flex; align-items: center">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
</form>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        })
    </script>
}
