@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .post_img {
            width: 3vw;
            height: 6vh;
            border-radius: 50%;
        }

        .post_user {
            display: flex;
            flex-direction: column;
            margin-left: 2%;
            padding: 0.5%;
        }
    </style>
</head>
<body>
        <!-- Navbar content -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light position-sticky" style="background-color: #e3f2fd;">
            <div class="container-fluid" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="/Question/Index">QuickRite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (signInManager.IsSignedIn(User))
                {
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav" style="background-color: #e3f2fd;">
                            <a class="nav-link active" aria-current="page" href="/Account/AllQuestions">User Questions</a>
                            <a class="nav-link active" href="/Account/AllAnswers">User Answers</a>
                            <a class="nav-link active" href="/SavedPost/SavedPost">Saved Posts</a>
                        </div>
                        
                    </div>
                }
                <div style="display:flex;margin-left:auto">
                    <ul class="navbar-nav">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <form asp-action="Logout" asp-controller="Account" method="post">
                                <button type="submit" class="nav-link btn btn-primary" style="width:auto ;color:white">Logout</button>
                            </form>
                            <li class="nav-item"> <a asp-action="ViewQuestions" asp-controller="Account" class="nav-link"> &nbsp; @User.Identity.Name</a></li>
                        }
                        else
                        {
                            <li class="nav-item"> <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a></li>
                            <li class="nav-item"> <a asp-action="Login" asp-controller="Account" class="nav-link">&nbsp;|&nbsp;Login</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>



        <div>
            @RenderBody()
        </div>
        @if(IsSectionDefined("Scripts"))
            {
                @RenderSection("Scripts",required:true)
            }
    </body>
</html>
